@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");



.circleclip{
clip-path: circle(50%);
}

.starclip{
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.triangleclip{
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.hexaclip{
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.rhomclip{
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.paraclip{
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.ellipseclip{
  clip-path: ellipse(25% 40% at 50% 50%);
}

.squareclip{
  clip-path: inset(0 0 0 0);
}
.octaclip{
clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.nonclip{
clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
